node_modules/
.env
.idea/
.vscode/
.DS_Store
npm-debug.log

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcsettings
# CocoaPods
/ios/Pods/

/Coverage

.idea
.gradle
local.properties
android/app/bin/
*.iml
vendor/